#define wxUSE_DPI_AWARE_MANIFEST 2

#include <gameengine/resource.rc>
#include <gameengine/shaders.rc>
#include <gameengine/models.rc>

ApplicationIcon ICON "resources/main.ico"
ICONPRG ICON "resources/main.ico"