#include "resource.h"

//postprocess
RCID_TF_POSTPROCESS_DEFAULT_GEOMSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess/default.geom"
RCID_TF_POSTPROCESS_DEFAULT_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess/default.vert"

RCID_TF_POSTPROCESS_COMPOSITOR_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess/compositor.frag"

RCID_TF_POSTPROCESS_NORMAL_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess/normal.frag"

RCID_TF_POSTPROCESS_NORMAL_SSRQUALITY_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess/normal_ssrquality.frag"

//default
RCID_TF_DEFAULT_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/default.frag"
RCID_TF_DEFAULT_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/default.vert"

//model
RCID_TF_MODEL_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.vert"

RCID_TF_MODEL_TESSCONTROLSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.tesc"

RCID_TF_MODEL_TESSEVALSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.tese"

RCID_TF_MODEL_GEOMSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.geom"
RCID_TF_MODEL_WIREFRAME_GEOMSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/wireframe.geom"

RCID_TF_MODEL_NORMAL_DEPTHONLY_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/depthonly.frag"
RCID_TF_MODEL_NORMAL_DRAW_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/draw.frag"
RCID_TF_MODEL_WIREFRAME_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/wireframe.frag"
RCID_TF_MODEL_TEXTURED_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/textured.frag"
RCID_TF_MODEL_SHADOW_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/shadow.frag"
