#include "resource.h"

//postprocess
RCID_TF_POSTPROCESS_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess.frag"
RCID_TF_POSTPROCESS_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/postprocess.vert"

//default
RCID_TF_DEFAULT_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/default.frag"
RCID_TF_DEFAULT_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/default.vert"

//model
RCID_TF_MODEL_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.vert"

RCID_TF_MODEL_TESSCONTROLSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.tesc"

RCID_TF_MODEL_TESSEVALSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.tese"

RCID_TF_MODEL_GEOMSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/default.geom"
RCID_TF_MODEL_WIREFRAME_GEOMSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/wireframe.geom"

RCID_TF_MODEL_NORMAL_PASS0_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/pass0.frag"
RCID_TF_MODEL_POINTLIGHT_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/pointlight.frag"
RCID_TF_MODEL_WIREFRAME_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/wireframe.frag"
RCID_TF_MODEL_TEXTURED_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/textured.frag"
RCID_TF_MODEL_SHADOW_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/shadow.frag"

//normal second pass
RCID_TF_MODEL_NORMAL_PASS1_VERTSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/pass1.vert"
RCID_TF_MODEL_NORMAL_PASS1_FRAGSHADER RCT_TEXTFILE "../gameengine/resources/shaders/model/normal/pass1.frag"